<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.board">

<!-- 자유게시판 -->

	<select id="freeList" resultType="BoardVo">
		select * from
				(select rownum rnum, a.* from
				(select * from tbl_board where bcate = 'f' order by bno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getBoard" resultType="BoardVo">
		select * from tbl_board
		where bno = #{bno}
	</select>
	
	<select id="getCount_f" resultType="int">
		select count(*) from tbl_board
		where bcate = 'f'
	</select>
	
	<insert id="insertBoard">
		insert into tbl_board(bno, bcate, title, content, userid, regdate, username)
		values(seq_bno.nextval, 'f', #{title}, #{content}, #{userid}, sysdate, #{username})
	</insert>
	
	<select id="menuMove" resultType="BoardVo">
		select next,prev 
			from (
			    select bno, 
			    lead(bno,1) over(order by bno) as next, 
			    lag(bno,1) over(order by bno) as prev from tbl_board
			)
		where bno = #{bno}
	</select>
	
<!-- 	<select id="menuMove2" resultType="BoardVo"> -->
<!-- 		select * from tbl_board  -->
<!-- 		where bno = (select max(bno)  -->
<!-- 		from tbl_board where bno &lt; #{bno}) -->
<!-- 	</select> -->
	
	<delete id="deleteBoard">
		delete from tbl_board
		where bno = #{bno}
	</delete>
	
	<update id="modifyBoard">
		update tbl_board set
			title = #{title},
			content = #{content}
		where bno = #{bno}
	</update>
	
	<update id="updateViewcnt">
		update tbl_board set
			viewcnt = viewcnt + 1
		where bno = #{bno}
	</update>
	
<!-- 익명게시판 -->
	<select id="anonymousList" resultType="BoardVo">
		select * from
				(select rownum rnum, a.* from
				(select * from tbl_board where bcate = 'a' order by bno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<insert id="insertAnonymousBoard">
		insert into tbl_board(bno, bcate, title, content, userid, regdate, username)
		values(seq_bno.nextval, 'a', #{title}, #{content}, #{userid}, sysdate, #{username})
	</insert>
	
	<select id="getCount_a" resultType="int">
		select count(*) from tbl_board
		where bcate = 'a'
	</select>
	
<!-- 채용공고등록 -->	
	<insert id="insertHireBoard">
		insert into tbl_hireboard(bno, cate, title, content, regdate, writer)
		values(seq_bno.nextval, #{cate}, #{title}, #{content}, sysdate, '관리자')
	</insert>
	
<!-- 자료실 -->
<!-- 	<select id="libraryList" resultType="BoardVo"> -->
<!-- 		select * from -->
<!-- 				(select rownum rnum, a.* from -->
<!-- 				(select * from tbl_board where bcate = 'l' order by bno desc) a)  -->
<!-- 		where rnum between #{startRow} and #{endRow} -->
<!-- 	</select> -->
	
<!-- 	<insert id="insertLibraryBoard"> -->
<!-- 		insert into tbl_board(bno, bcate, title, content, userid, regdate, username) -->
<!-- 		values(seq_bno.nextval, 'l', #{title}, #{content}, #{userid}, sysdate, #{username}) -->
<!-- 	</insert> -->
	
	
<!-- 	<select id="getCount_l" resultType="int"> -->
<!-- 		select count(*) from tbl_board -->
<!-- 		where bcate = 'l' -->
<!-- 	</select> -->
	
<!-- 게시판 공통 (시퀀스,내용 불러오기, 파일 업로드, 파일 다운로드, 게시판 삭제) -->
<!-- 게시물 검색 쿼리 타이틀, 내용, 타이틀+내용 시작-->
	<sql id="search">
				<if test="keyword != null || searchType != null">
			<choose>
				<when test='searchType == "t"'>
					AND title LIKE '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "c"'>
					AND content LIKE '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "tc"'>
					AND title LIKE '%' || #{keyword} || '%' OR content LIKE '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
<!-- /게시물 검색 쿼리 타이틀, 내용, 타이틀+내용 끝-->
	<!-- 시퀀스 얻기 -->
	<select id="getBnoSeq" resultType="int">
		SELECT seq_bno.nextval FROM dual
	</select>
	<!-- 내용 불러오기 -->
	<select id="boardContent" resultType="BoardVo">
		SELECT B.bno, B.bcate, B.title, B.content, B.userid, B.viewcnt, B.re_group, B.re_seq, B.re_level, B.regdate AS regdate, B.updatedate AS updatedate, B.cmtcnt, B.bstate, M.username
		FROM tbl_board B, tbl_member M
		WHERE B.bno = #{bno} AND B.userid = M.userid
	</select>
	<!-- 게시물 내용 수정 -->
	<update id="boardModifyRun">
		UPDATE tbl_board
		SET content = #{content}, title = #{title}
		WHERE bno = #{bno}
	</update>
	<!-- 게시물 삭제 실행 -->
	<delete id="boardDeleteRun">
		DELETE FROM tbl_board
		WHERE bno = #{bno}
	</delete>
	<!-- 파일 업로드 -->
	<insert id="uploadBoardFile">
		INSERT INTO tbl_uploadfile (bno, filename)
		VALUES (#{bno}, #{filename})
	</insert>
	<!-- 파일 다운로드 -->
	<select id="downloadBoardFile" resultType="String">
		SELECT filename FROM tbl_uploadfile
		WHERE bno = #{bno}
	</select>
	<!-- 첨부 파일 삭제 -->
	<delete id="fileDeleteRun">
		DELETE FROM tbl_uploadfile
		WHERE bno = #{bno}
	</delete>
<!-- 자료실 게시판 시작 -->
	<!-- 자료실 리스트 개수 -->
	<select id="getPdsCount" resultType="int">
		SELECT COUNT(*) FROM tbl_board WHERE bcate = 'p'
		<include refid="search"></include>
	</select>
	<!-- 전체 자료실 리스트 -->
	<select id="pdsList" resultType="BoardVo">
		SELECT B.bno, M.userid AS userid, M.username, B.title, B.content, B.regdate, B.viewcnt, B.bcate, B.cmtcnt
		FROM ( SELECT rownum rnum, a.* FROM ( SELECT * FROM tbl_board WHERE bcate = 'p'
	<include refid="search"></include>
		ORDER BY bno DESC) a) B, tbl_member M
		WHERE rnum between #{startRow} and #{endRow}
		AND M.userid = B.userid
	</select>
	<!-- 자료실 등록 실행 -->
	<insert id="pdsRegistRun">
		INSERT INTO tbl_board (bno, bcate, title, content, userid)
		VALUES (#{bno}, 'p', #{title}, #{content}, #{userid}) 
	</insert>
<!-- 자료실 게시판 끝-->
<!-- 공지 게시판 -->
	<!-- 공지글 리스트 개수 -->
	<select id="getNoticeCount" resultType="int">
		SELECT COUNT(*) FROM tbl_board WHERE bcate = 'n'
		<include refid="search"></include>
	</select>
	<!-- 전체 공지 리스트 -->
	<select id="noticeList" resultType="BoardVo">
		SELECT B.bno, M.userid AS userid, M.username, B.title, B.content, B.regdate, B.viewcnt, B.bcate, B.cmtcnt
		FROM ( SELECT rownum rnum, a.* FROM ( SELECT * FROM tbl_board WHERE bcate = 'n'
	<include refid="search"></include>
		ORDER BY bno DESC) a) B, tbl_member M
		WHERE rnum between #{startRow} and #{endRow}
		AND M.userid = B.userid
	</select>
	<!-- 공지 등록 실행 -->
	<insert id="noticeRegistRun">
		INSERT INTO tbl_board (bno, bcate, title, content, userid)
		VALUES (#{bno}, 'n', #{title}, #{content}, #{userid}) 
	</insert>
<!-- 공지 게시판 끝-->

<!-- 메인화면 전체 조회 -->
<select id="mainBoardList" resultType="BoardVo">
	<![CDATA[
	SELECT B.title, B.bno, M.username
	FROM tbl_board B, tbl_member M
	WHERE rownum <= 5
	AND M.userid = B.userid
	AND bcate = #{bcate}
	ORDER BY bno desc
	]]>
</select>

</mapper>