<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.comment">

	<select id="commentList" resultType="commentVo">
		select * from tbl_comment
		where bno = #{bno}
		order by cno desc
	</select>
	
	<insert id="insertComment">
		insert into tbl_comment(cno, bno, userid, username, content)
		values(seq_cno.nextval, #{bno}, #{userid}, #{username}, #{content})
	</insert>
	
	
	<delete id="deleteCommentBoard">
		delete from tbl_comment
		where bno = #{bno}
	</delete>
	
	<select id="profileImg" resultType="Object">
		select c.cno, c.bno, c.userid, c.username, c.content, c.regdate, m.profileimg
		from tbl_comment c, tbl_member m
		where c.userid = m.userid
	</select>
</mapper>