<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.customer">

	<select id="noticeList" resultType="NoticeVo">
		<![CDATA[
		select notice_no, notice_title, notice_date, replace(notice_content,'△','<br>△')  notice_content
		from tbl_notice
		]]> 
	</select>
	
	<select id="qnaList" resultType="QnaVo">
		select * from tbl_qna
		<if test='keyword != null'>
		where qna_title like '%' || #{keyword} || '%'
		</if>
		order by qna_no
	</select>
	
	<select id="csreceiveList" resultType="CsreceiveVo">
		select * from tbl_csReceive
		order by csReceive_order
	</select>
	
	<select id="csList" resultType="AskProductVo">
		SELECT A.ano, A.order_code, A.ask_content, A.ask_title, A.ask_date, A.ask_cate, B.user_id, A.ask_reply
		FROM tbl_askproduct A, tbl_orderproduct B
		WHERE A.order_code = B.order_code
	</select>

	<select id="csCheck" resultType="CsCheckVo">
		select * from tbl_csCheck
		order by csCheck_order
	</select>
	
	<!-- 답변 업데이트 -->
	<update id="csUpdate">
		update tbl_askproduct set
		    ask_reply = #{ask_reply}
		where ano = #{ano}
	</update>
	
	<insert id="askRegistRun">
		INSERT INTO tbl_csreceive(ano, order_code, ask_cate, ask_content, ask_title)
		VALUES (seq_ano.nextval, #{order_code}, #{ask_cate}, #{ask_content}, #{ask_title})
	</insert>
	
	<select id="checkOrderCode" resultType="int">
		select count(*)
		from tbl_orderproduct
		where  order_code = #{order_code}
	</select>
	
	<insert id="insertCsReceive">
		insert into tbl_csreceive (cs_num, title, content, user_id, cate, order_code)
		values (seq_cs_num.nextval, #{title}, #{content}, #{user_id}, #{cate}, #{order_code})

	</insert>
	

</mapper>