<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.customer">

	<select id="noticeList" resultType="NoticeVo">
		select * from tbl_notice 
	</select>
	
	<select id="qnaList" resultType="QnaVo">
		select * from tbl_qna
		order by qna_no
	</select>
	
	<select id="csreceiveList" resultType="CsreceiveVo">
		select * from tbl_csReceive
		order by csReceive_order
	</select>
	
	<select id="csList" resultType="AskProductVo">
		SELECT A.ano, A.order_code, A.ask_contnet, A.ask_title, A.ask_date, B.user_id
		FROM tbl_askproduct A, tbl_orderproduct B
		WHERE A.order_code = B.order_code
	</select>
	
	<select id="csCheck" resultType="CsCheckVo">
		select * from tbl_csCheck
		order by csCheck_order
	</select>
	

</mapper>