<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.freeboard">

	<select id="freeList" resultType="BoardVo">
		select * from tbl_board 
		where bcate = 'f'
		order by bno desc
	</select>
	
	<select id="getBoard" resultType="BoardVo">
		select * from tbl_board
		where bno = #{bno}
	</select>
	
	<insert id="insertBoard">
		insert into tbl_board(bno, bcate, title, content, userid, username)
		values(seq_bno.nextval, f, '자유게시판 제목', '자유게시판 내용', 'test01', sysdate, '이름')
	</insert>
	
	<select id="menuMove" resultType="BoardVo">
		select next,prev 
			from (
			    select bno, 
			    lead(bno,1) over(order by bno) as next, 
			    lag(bno,1) over(order by bno) as prev from tbl_board
			)
		where bno = #{bno}
	</select>
	
<!-- 	<select id="menuMove2" resultType="BoardVo"> -->
<!-- 		select * from tbl_board  -->
<!-- 		where bno = (select max(bno)  -->
<!-- 		from tbl_board where bno &lt; #{bno}) -->
<!-- 	</select> -->
	
	<delete id="deleteBoard">
		delete from tbl_board
		where bno = #{bno}
	</delete>
	
	<update id="modifyBoard">
		update tbl_board set
			title = #{title},
			content = #{content}
		where bno = #{bno}
	</update>
	
	<update id="updateViewcnt">
		update tbl_board set
			viewcnt = viewcnt + 1
		where bno = #{bno}
	</update>
	
</mapper>