<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.hire">

	<select id="listAll" resultType="HireBoardVo">
		select * from
			(select rownum rnum, a.* from
			(select * from tbl_hireboard order by bno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="listNew" resultType="HireBoardVo">
		select * from
			(select rownum rnum, a.* from
			(select * from tbl_hireboard where cate = '[신입]' order by bno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="listExperience" resultType="HireBoardVo">
		select * from
			(select rownum rnum, a.* from
			(select * from tbl_hireboard where cate = '[경력]' order by bno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="listIntern" resultType="HireBoardVo">
		select * from
			(select rownum rnum, a.* from
			(select * from tbl_hireboard where cate = '[인턴]' order by bno desc) a) 
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_hireboard
	</select>
	
	<select id="getN_Count" resultType="int">
		select count(*) from tbl_hireboard
		where cate = '[신입]'
	</select>
	
	<select id="getI_Count" resultType="int">
		select count(*) from tbl_hireboard
		where cate = '[인턴]'
	</select>
	
	<select id="getE_Count" resultType="int">
		select count(*) from tbl_hireboard
		where cate = '[경력]'
	</select>
	
	<select id="registList" resultType="HireVo">
		select * from tbl_hire
		order by hno desc
	</select>
	
	<insert id="registRun">
		insert into tbl_hire(hno, name, email, phonnum, career, content)
		values(seq_hno.nextval, #{name}, #{email}, #{phonnum}, #{career}, #{content})
	</insert>
	
	<select id="getBoard" resultType="HireVo">
		select * from tbl_hire
		where hno = #{hno}
	</select>
	
	<delete id="deleteBoard">
		delete from tbl_hire
		where hno = #{hno}
	</delete>
	
	<update id="modifySuccess">
		update tbl_hire set
		state = 'success', result = 'Y'
		where hno = #{hno}
	</update>
	
	<update id="modifyFail">
		update tbl_hire set
		state = 'fail', result = 'Y'
		where hno = #{hno}
	</update>
	
	<select id="searchSuccess" resultType="HireVo">
		select * from tbl_hire 
		where name = #{name} 
		and email = #{email} 
	</select>
	
	
</mapper>