<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.member">

<!-- 로그인 가능 여부 상태 확인(가입 승인 대기 상태) -->

<!-- 로그인 데이터 -->
<select id="loginRun" resultType="MemberVo">
	SELECT * FROM tbl_member
	WHERE userid = #{userid} AND userpw = #{userpw}
</select>

<!-- 아이디 중복체크 -->
<select id="checkId" resultType="int">
	SELECT COUNT(*) FROM tbl_member
	WHERE userid = #{userid}
</select>

<!-- 사번 중복체크 -->
<select id="checkEno" resultType="int">
	SELECT COUNT(*) FROM tbl_member
	WHERE eno = #{eno}
</select>

<!-- 회원 정보 추가 -->
<insert id="registRun">
	INSERT INTO tbl_member (userid, userpw, username, eno, gender, email, phone)
	VALUES(#{userid}, #{userpw}, #{username}, #{eno}, #{gender}, #{email}, #{phone})
</insert>

<!-- 승인 대기 회원 리스트 -->
<select id="memberApproveList" resultType="MemberVo">
	SELECT * FROM tbl_member
	WHERE authority = 0
</select>

<!-- 사용 승인 -->
<update id="memberApproveRun">
	UPDATE tbl_member
	SET department = #{department}, position = #{position}, authority = #{authority}
	WHERE eno = #{eno}
</update>

<!-- 회원정보 선택 (마이페이지, 사원검색) -->
<select id="getMemberData" resultType="MemberVo">
	SELECT * FROM tbl_member
	WHERE userid = #{userid}
</select>

<!-- 회원정보 수정 (마이페이지 내 전화번호, 자기소개 )-->
<update id="myDataModifyRun">
	UPDATE tbl_member
	SET  phone = #{phone}, introduce = #{introduce}, profileimg = #{profileimg}
	WHERE eno = #{eno} 
</update>

<!-- 사원 리스트 -->
<select id="listmember" resultType="MemberVo">
	select * from tbl_member
	order by regdate desc
</select>

<!-- 검색 조건 -->
<!-- <select id="listmember" resultType="MemberVo"> -->
<!-- 	select * from tbl_member -->
<!-- 	WHERE department = #{department} AND position = #{position} AND username = #{username} AND eno = #{eno} -->
	
<!-- 		<choose> -->
<!-- 			<when test='#{department} != "전체"'> -->
<!-- 				department = #{department} -->
<!-- 			</when> -->
<!-- 			<when test='#{department} == "전체"'> -->
<!-- 				department != #{department} -->
<!-- 			</when> -->
<!-- 		</choose> -->

<!-- 		<choose> -->
<!-- 			<when test='#{position} != "전체"'> -->
<!-- 				AND position = #{position} -->
<!-- 			</when> -->
<!-- 			<when test='#{position} == "전체"'> -->
<!-- 				AND position != #{position} -->
<!-- 			</when> -->
<!-- 		</choose> -->
		
<!-- 		<choose> -->
<!-- 			<when test='#{en} == "이름"'> -->
<!-- 				AND username = #{keyword} -->
<!-- 			</when> -->
<!-- 			<when test='#{en} == "사번"'> -->
<!-- 				AND eno = #{keyword} -->
<!-- 			</when> -->
<!-- 		</choose> -->
<!-- </select> -->

<!-- 인사부검색 -->
<select id="searchDepartment" resultType="memberVo">
	select * from tbl_member
	where department = #{department}
	order by regdate desc
</select>



</mapper>