<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.message">
	
<!-- <select id="receiveMessageList" resultType="MessageVo"> -->
<!-- 	SELECT * FROM tbl_message -->
<!-- 	WHERE receiver = #{receiver} -->
<!-- 	ORDER BY mno desc -->
<!-- </select> -->

<select id="receiveMessageList" resultType="MessageVo">
	SELECT mes.mno, mes.sender, mes.receiver, SUBSTR(mes.content, 0, 10) AS content, mes.readstate, mes.senddate, mes.readdate, mem.username AS sendername
	FROM tbl_member mem, tbl_message mes
	WHERE mes.sender = mem.userid AND mes.receiver = #{receiver} AND mes.readstate != 'c' AND mes.receiverstate = 'n'
	ORDER BY mes.mno desc
</select>

<select id="sendMessageList" resultType="MessageVo">
	SELECT mes.mno, mes.sender, mes.receiver, SUBSTR(mes.content, 0, 10) AS content, mes.readstate, mes.senddate, mes.readdate, mem.username AS receivername
	FROM tbl_member mem, tbl_message mes
	WHERE mes.receiver = mem.userid AND mes.sender = #{sender} AND mes.senderstate = 'n'
	ORDER BY mes.mno desc
</select>

<insert id="sendMessageRun">
	INSERT INTO tbl_message (mno, sender, receiver, content)
	VALUES (seq_mno.nextval, #{sender}, #{receiver}, #{content})
</insert>

<update id="readStateChange">
	update tbl_message
	set readstate = 'y'
	where mno = #{mno}
</update>

<select id="getMessageData" resultType="MessageVo">
	select mes.mno, mes.sender, mes.receiver, mes.content, mes.readstate, mes.senddate, mes.readdate, mem.username receivername
	from tbl_message mes ,tbl_member mem
	where mem.userid = mes.receiver AND mno = #{mno}
</select>

<update id="messageSendCancel">
	update tbl_message
	set readstate = 'c'
	where mno = #{mno}
</update>

<update id="senderDeleteStateChange">
	update tbl_message
	set senderstate = 'd'
	where mno = #{mno}
</update>

<update id="receiverDeleteStateChange">
	update tbl_message
	set receiverstate = 'd'
	where mno = #{mno}
</update>


</mapper>