<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.orderproduct">
	
	<select id="selectUserOrder" resultType="OrderProductVo">
		select * from tbl_orderproduct
		where user_id = #{user_id}
	</select>

	<select id="selectOrder" resultType="OrderProductVo">
		select b.order_code, b.order_shoescode, b.user_id, b.order_regdate, b.order_count, a.shoes_price, a.shoes_name, a.shoes_image
		from tbl_shoes a, tbl_orderproduct b, tbl_user c
		where b.user_id = c.user_id
		and c.user_id = #{user_id}
		and a.shoes_code = b.order_shoescode
	</select>
	<select id="selectBasket" resultType="UserBasketVo">
		select b.order_code, b.order_shoescode, b.user_id, b.order_regdate, b.order_count, a.shoes_price, a.shoes_name, a.shoes_image
		from tbl_shoes a, tbl_orderproduct b, tbl_user c
		where b.user_id = c.user_id
		and c.user_id = #{user_id}
		and a.shoes_code = b.order_shoescode
	</select>

	<insert id="insertOrderProduct">
		insert into tbl_orderproduct(order_code, order_shoescode, user_id, order_count)
		values(seq_ordercode.nextval, #{order_shoescode}, #{user_id}, #{order_count})
	</insert>
</mapper>