<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.orderproduct">
	
	<select id="selectUserOrder" resultType="OrderProductVo">
		select * from tbl_orderproduct
		where user_id = #{user_id}
	</select>

	<select id="selectOrder" resultType="OrderProductVo">
		select b.order_code, b.order_shoescode, b.user_id, b.order_regdate, b.order_count, a.shoes_price, a.shoes_name, a.shoes_image
		from tbl_shoes a, tbl_orderproduct b, tbl_user c
		where b.user_id = c.user_id
		and c.user_id = #{user_id}
		and a.shoes_code = b.order_shoescode
	</select>
	
	<insert id="insertOrderProduct">
		insert into tbl_orderproduct(order_code, order_shoescode, user_id, order_count)
		values(seq_ordercode.nextval, #{order_shoescode}, #{user_id}, #{order_count})
	</insert>
	
	<select id="selectBasket" resultType="UserBasketVo">
		select a.shoes_code, b.user_id, b.order_count, b.checked, a.shoes_price, a.shoes_name, a.shoes_image
		from tbl_shoes a, tbl_basket b, tbl_user c
		where a.shoes_code = b.shoes_code
        and b.user_id = c.user_id
        and c.user_id = #{user_id}
	</select>
	
	<select id="getBasket" resultType="UserBasketVo">
		select a.shoes_code, b.user_id, b.order_count, b.checked, a.shoes_price, a.shoes_name, a.shoes_image
		from tbl_shoes a, tbl_basket b
		where a.shoes_code = b.shoes_code
		and b.shoes_code =  #{shoes_code} 
	</select>

	<update id="changeBasketCount">
		update tbl_basket
		set order_count = #{order_count}
		where shoes_code = #{shoes_code}
	</update>
	
	<select id="getBasketCount" resultType="int">
		select order_count 
		from tbl_basket
		where shoes_code = #{shoes_code}
	</select>
	
	<select id="getUserBasketCount" resultType="int">
		select count(shoes_code)  
		from tbl_basket
		where user_id = #{user_id}
	</select>
	
	<select id="getBasketShoeseCodeCount" resultType="int">
		select count(*) 
		from tbl_basket
		where shoes_code = #{shoes_code}
	</select>
	
	<update id="plusBasketOrdercount">
		update tbl_basket
		set order_count = order_count + 1
		where shoes_code = #{shoes_code}
	</update>
	
	<insert id="insertBasket">
		insert into tbl_basket(shoes_code, order_count, user_id)
		values(#{shoes_code}, 1, #{user_id})
	</insert>
	
	<delete id="deleteBasket">
		delete from tbl_basket
		where shoes_code = #{shoes_code}
	</delete>
	
	
</mapper>