<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.product">
	<select id="selectAll" resultType="ProductVo">
		select * from
		(select rownum rnum, a.* from
		(select * from tbl_shoes) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	<select id="simpleSelectAll" resultType="ProductVo">
		select * from tbl_shoes
	</select>
	
	<select id="getProduct" resultType="ProductVo">
		select * from tbl_shoes 
		where shoes_code = #{shoes_code}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from tbl_shoes
	</select>
	
	<delete id="deleteProduct">
		delete from tbl_shoes
		where shoes_code = #{shoes_code}
	</delete>
	
</mapper>