<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.user">

<!-- 로그인 가능 여부 상태 확인(가입 승인 대기 상태) -->

<!-- 로그인 데이터 -->
<select id="loginRun" resultType="UserVo">
	select * from tbl_user
	where user_id = #{user_id} and user_pw = #{user_pw}
</select>

<!-- 아이디 중복체크 -->
<select id="checkId" resultType="int">
	select count(*) from tbl_user
	where user_id = #{user_id}
</select>

<select id="userjob" resultType="UserJobVo">
	select *from tbl_userjob
</select>

<select id="checkOrderNum" resultType="UserVo">
	SELECT tbl_user.user_email, tbl_user.user_phone, tbl_orderproduct.order_regdate, tbl_orderproduct.user_id, tbl_orderproduct.order_shoescode
	FROM tbl_user, tbl_orderproduct
	WHERE tbl_user.user_id = (SELECT user_id FROM tbl_orderproduct WHERE order_code = #{order_code})
</select>

<insert id="userRegistRun">
	INSERT INTO tbl_user (user_id, user_pw, user_name, user_phone, user_email, user_addr)
	VALUES (#{user_id}, #{user_pw}, #{user_name}, #{user_phone}, #{user_email}, #{user_addr})
</insert>

<insert id="askRegistRun">
	INSERT INTO tbl_askproduct(ano, order_code, ask_cate, ask_content, ask_title)
	VALUES (seq_ano.nextval, #{order_code}, #{ask_cate}, #{ask_content}, #{ask_title})
</insert>
<!-- 사용자 정보 수정 -->
<update id="updateUser">
	update tbl_user set 
	    user_pw = #{user_pw},
	    user_name = #{user_name},
	    user_phone = #{user_phone},
	    user_email = #{user_email},
	    user_addr = #{user_addr}
	where user_id = #{user_id}
</update>

</mapper>